<div class="input-group-addon" style="padding: 4px">
    <i style="cursor: pointer" class="filter-null-toggle tip fa fa-toggle-off"
       data-toggle="tooltip"
       data-placement="top"
       title="leere Einträge"
       data-column="{{ key }}"
       data-class-on="fa-toggle-on"
       data-class-off="fa-toggle-off"></i>
</div>