{% if(actions) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {% if toggleLabel is not null %}
                {{ toggleLabel|trans }}
            {% else %}
                Actions
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for action in actions %}
                <li>
                    {% if action.template is defined %}
                        {% include action.template with {
                            'action': action,
                            'entity': entity
                        } %}
                    {% else %}
                        <a class="{% if action.class is defined %} {{ action.class }} {% endif %}" href="{{ path(action.route, {'id': entity.id}) }}">
                            {% if action.icon is defined %}
                                <i class="fa fa-fw fa-{{ action.icon }}"></i>
                            {% endif %}
                            {% if action.label is defined %}
                                {{ action.label|trans }}
                            {% endif %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}