{% if(actions) %}
    <div style="display: flex" class="btn-group">
        {% for action in actions %}
            {% if action.template is defined %}
                {% include action.template with {
                'action': action,
                'entity': entity
                } %}
            {% else %}
                <a class="{% if action.class is defined %} {{ action.class }} {% endif %}" href="{{ path(action.route, {'id': entity.id}) }}">
                    {% if action.icon is defined %}
                        <i class="fa fa-fw fa-{{ action.icon }}"></i>
                    {% endif %}
                    {% if action.label is defined %}
                        {{ action.label|trans }}
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
{% endif %}