<div class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input type="checkbox" value="1" >
            {% if column.nullFilterable %}
                {% include 'WestwerkDataTablesBundle::Column/Filter/partials/null-filter.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
