<div class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control input-sm"
                        data-provide="datepicker"
                        data-date-format="{{ column.filter.displayFormat }}"
                        data-date-clear-btn="true"
                    >
            {% if column.nullFilterable %}
                {% include 'WestwerkDataTablesBundle::Column/Filter/partials:null-filter.html.tiwg' %}
            {% endif %}
        </div>
    </div>
</div>
