<div class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <select class="form-control input-sm" {% if column.filter.multiple %} multiple {% endif %}>
                {% for option in column.filter.items %}
                    <option {{ block('option_attributes') }} value="{{ loop.index0 }}">{{ option.label|trans }}</option>
                {% endfor %}
            </select>
            {% if column.nullFilterable %}
                {% include 'WestwerkDataTablesBundle::Column/Filter/partials/null-filter.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>


{% block option_attributes %}
{% spaceless %}
    {% if option.attributes is defined %}
        {% for attrname, attrvalue in option.attributes %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock option_attributes %}