<div class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control input-sm">
            {% if column.nullFilterable %}
                {% include 'WestwerkDataTablesBundle::Column/Filter/partials/null-filter.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
