<table {% if datatable.options.class is defined %} class="{{ datatable.options.class }}"{% endif %} id="{{ datatable.id }}">
    <thead>
    <tr class="filters">
        {% for key,column in columns %}
            <td class="filter filter-column-{{ key }} filter-id-{{ column.identifier }}">
                {% if column.filter %}
                    {% include(column.filter.template) %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for column in columns %}

            {% set styles="" %}
            {% if column.header.styles is defined %}
                {% for style,value in column.header.styles %}
                {% set styles = styles. style+':'+value+';' %}
                {% endfor %}
            {% endif %}

            <th{% if styles is not empty %} style="{{ styles }}"{% endif %}>
                {% if(column.label) %}
                    {{ column.label|trans }}
                {% else %}
                    {{ column.name|trans }}
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody></tbody>
</table>
<form id="westwerk.datatables.form" method="POST"></form>
