<script type="text/javascript">

    require(['jquery', 'noty', 'datatables', 'jqueryDebounce', 'bootstrapDatatables', 'bootstrapDatepicker', 'bootstrapDatepickerLocale', 'ajaxHelper', 'select2'], function ($, noty) {

        const WESTWERK_DATATABLES_FILTER_NULL = '__NULL__';

        $.extend($.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline"
        });


        {% set options = ({

            dom: "<'row row-settings'<'col-xs-6'l><'col-xs-6'f>><'row row-table-container'<'col-xs-12'<'row row-table'<'col-xs-12't>>>><'row row-information'<'col-xs-6'i><'col-xs-6'p>>",
            pagingType: 'full_numbers',
            processing: true,
            autoWidth: false,
            orderMulti: true,
            language: {
                "sEmptyTable":      "Keine Daten in der Tabelle vorhanden",
                "sInfo":            "_START_ bis _END_ von _TOTAL_ Einträgen",
                "sInfoEmpty":       "0 bis 0 von 0 Einträgen",
                "sInfoFiltered":    "(gefiltert von _MAX_ Einträgen)",
                "sInfoPostFix":     "",
                "sInfoThousands":   ".",
                "sLengthMenu":      "_MENU_ Einträge anzeigen",
                "sLoadingRecords":  "Wird geladen...",
                "sProcessing":      "Bitte warten...",
                "sSearch":          "Suchen",
                "sZeroRecords":     "Keine Einträge vorhanden.",
                "oPaginate": {
                    "sFirst":       "Erste",
                    "sPrevious":    "Zurück",
                    "sNext":        "Nächste",
                    "sLast":        "Letzte"
                },
                "oAria": {
                    "sSortAscending":  ": aktivieren, um Spalte aufsteigend zu sortieren",
                    "sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                }
            }
        })|merge(options) %}


        // Datatable filter
        var DataTableFilter = function (column, el, parent) {
            this.column = column;
            this.$el = $(el);
            this.parent = parent;
            this.init();
        };

        DataTableFilter.prototype = {

            $nullFilter: null,
            nullFiltered: false,

            init: function () {
                var self = this;

                // Init null filter
                var nullFilter = this.$el.find('.filter-null-toggle');
                if (nullFilter.length > 0) {
                    this.$nullFilter = nullFilter;
                    this.$nullFilter.on('click', this.toggleNullFilter.bind(this));
                }

                //Select filter
                this.$el.find('select')
                        .on(
                                'change propertychange',
                                function () {
                                    var value = $(this).val();
                                    if (typeof value === 'array') {
                                        value = value.join(',');
                                    }
                                    self.apply.call(self, value);
                                }
                        );

                //Text filter
                this.$el.find('input:not([type="checkbox"])').on(
                        'input change propertychange',
                        $.debounce(
                                function () {
                                    self.apply.call(self, this.value);
                                },
                                400
                        )
                );

                //Bool filter
                this.$el.find('input[type="checkbox"]').on(
                        'input change propertychange', function () {
                            self.apply.call(self, this.checked ? '1' : '');
                        });
            },

            disable: function () {
                this.$el.find('input:not([type="checkbox"])').val('').prop('disabled', true);
                this.$el.find('input[type="checkbox"]').prop('checked', false).prop('disabled', true);
            },

            enable: function () {
                this.$el.find('input:not([type="checkbox"])').val('').prop('disabled', false);
                this.$el.find('input[type="checkbox"]').prop('checked', false).prop('disabled', false);
            },

            preset: function (keywords) {
                if (keywords === WESTWERK_DATATABLES_FILTER_NULL) {
                    // Preset nullfilter;
                    this.setNullFilter(false)
                }
                else {
                    this.$el.find('input:not([type="checkbox"]), select:not([multiple])').val(keywords);
                    this.$el.find('input[type="checkbox"]').prop('checked', keywords == '1');
                    this.$el.find('select[multiple]').val(keywords.split(','));
                }
            },

            apply: function (keywords) {
                this.parent.table.column(this.column)
                        .search(keywords)
                        .draw();
            },

            reset: function () {
                this.$el.find('input:not([type="checkbox"])').val('');
                this.$el.find('input[type="checkbox"]').prop('checked', false);
                this.$el.find('select').select2('val', null);
                this.parent.table.column(this.column).search('');
                this.unsetNullFilter();
            },


            setNullFilter: function (apply) {
                if (this.$nullFilter) {
                    this.$nullFilter
                            .removeClass(this.$nullFilter.attr('data-class-off'))
                            .addClass(this.$nullFilter.attr('data-class-on'));
                    this.disable();
                    if (this.parent.table && apply !== false) {
                        this.parent.table.column(this.column).search(WESTWERK_DATATABLES_FILTER_NULL);
                    }
                    this.nullFiltered = true;
                }
            },

            isNullFiltered: function () {
                return this.nullFiltered;
            },

            unsetNullFilter: function (apply) {
                if (this.$nullFilter) {
                    this.$nullFilter
                            .removeClass(this.$nullFilter.attr('data-class-on'))
                            .addClass(this.$nullFilter.attr('data-class-off'));
                    this.enable();
                    if (this.parent.table && apply !== false) {
                        this.parent.table.column(this.column).search('');
                    }
                    this.nullFiltered = false;
                }
            },

            toggleNullFilter: function () {
                if (this.nullFiltered) {
                    this.unsetNullFilter();
                    this.parent.table.draw();
                }
                else {
                    this.setNullFilter();
                    this.parent.table.draw();
                }
            }

        };


        // Datatable
        var DataTable = function () {
            this.init();
        };

        DataTable.prototype = {
            // Table container
            $table: null,
            table: null,
            filters: [],

            init: function () {
                // Initialize container
                this.$table = $('#{{ datatable.id }}');

                // Init filters
                this.initFilters();

                // Register event handlers
                this.registerHandler();

                // Initialize datatable
                this.table = this.$table.DataTable({{ options|json_encode|raw }});

                // Action helper
                this.$table.ajaxHelper({
                    selector: '*[data-ajax="true"]',
                    namespaces: ['westwerk', 'datatables', 'ajax']
                });

                // Select 2
                this.$table.find('select').select2();

            },

            initFilters: function () {
                // Initialize filters
                var self = this;
                this.$table.find('tr.filters > td.filter').each(function (key) {
                    self.filters.push(new DataTableFilter(key, this, self));
                });
            },

            registerHandler: function () {
                this.$table.on('xhr.dt', this.xhrHandler.bind(this));
                this.$table.on('stateLoaded.dt', this.stateLoadedHandler.bind(this));
                this.$table.on('processing.dt', this.processingHandler.bind(this));
                this.$table.on('westwerk.datatables.export', this.exportHandler.bind(this));
                this.$table.on('westwerk.datatables.reset', this.resetHandler.bind(this));
            },

            processingHandler: function (event, settings, processing) {
                // Processing indicator classes
                if (processing) {
                    this.$table.addClass('dt-processing');
                } else {
                    this.$table.removeClass('dt-processing');
                }
            },

            xhrHandler: function (e, settings, json, xhr) {
                // Handle errors
                if (json.exception) {
                    noty({
                        layout: 'topRight',
                        theme: 'relax',
                        type: 'error',
                        text: 'Sorry, an error occurred while loading the data:<br/>' + json.exception,
                        timeout: false
                    });
                }
            },

            stateLoadedHandler: function (e, settings, data) {
                // Restore saved filters
                var self = this;
                if (data.columns) {
                    data.columns.forEach(function (column, key) {
                        if (column.search && column.search.search) {
                            self.filters[key].preset(column.search.search);
                        }
                    })
                }
            },

            exportHandler: function (ev, options) {

                var flatten = function (object) {
                    var res = {};
                    (function recurse(obj, current) {
                        $.each(obj, function (key, value) {
                            var newKey = (current ? current + "[" + key + "]" : key);  // joined key with dot
                            if (value && (typeof value === "object" || typeof value === "array")) {
                                recurse(value, newKey);
                            } else {
                                res[newKey] = String(value);
                            }
                        })
                    })(object);
                    return res;
                };

                if (!options) {
                    options = {}
                }
                options['export'] = true;

                var uri = '{{ datatable.dataUri }}';
                var data = $.extend(flatten(options), flatten(this.table.ajax.params()));

                // Use form
                var form = document.getElementById('westwerk.datatables.form');
                form.setAttribute("action", uri);
                // Clear hidden fields
                while (form.firstChild) {
                    form.removeChild(form.firstChild);
                }
                // Add hidden fields
                $.each(data, function (key, value) {
                    var field = document.createElement("input");
                    field.setAttribute("type", "hidden");
                    field.setAttribute("name", key);
                    field.setAttribute("value", value);
                    form.appendChild(field);
                })
                // Finally submit
                form.submit();
            },

            resetHandler: function () {
                this.filters.forEach(function (filter) {
                    filter.reset();
                });
                this.table.draw();
            }
        };


        $(document).ready(function () {
            new DataTable();
        });

    });

</script>